:root {
    --primary-color: rgb(46, 51, 70);
    --secondary-color: rgb(58, 161, 196);
    --tertiary-color: rgb(250, 250, 250);;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    margin: 0;
    padding: 20px 35px;
    z-index: 9999;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    font-family: Helvetica, Arial, sans-serif;
}
header a {
    color: var(--secondary-color);
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
}
header nav {
    margin: 10px;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-size: 1.50vw;
}
header nav ul li a:hover {
    color: var(--tertiary-color);
    border-radius: 15px;
    text-shadow: none;

}
.subtitle {
    background-image: url("../images/ux-designer-portfolios-59442fc10a13700c71c7e7f0951416fe.png");
    background-size: cover;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
    padding-bottom: 150px;
}
.subtitle h1 {
    text-align: right;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
}
.elements {
    display: block;
}
.elements h2 {
    flex-wrap: wrap;
    display: flex;
    
}
.elements p {

}