:root {
    --primary-color: rgb(46, 51, 70);
    --secondary-color: rgb(58, 161, 196);
    --tertiary-color: rgb(33, 56, 129);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    margin: 0;
    padding: 30px 55px;
    z-index: 9999;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 40px;
    font-family: Helvetica, Arial, sans-serif;
}
header a {
    color: var(--secondary-color);
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
}
header nav {
    margin: 10px;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-size: 1.50vw;
}
header nav ul li a:hover {
    color: var(--tertiary-color);
    border-radius: 15px;
    text-shadow: none;

}
footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background: var(--primary-color);
    padding: 25px 35px;
}
.hook {
    background-image: url("../images/ux-designer-portfolios-59442fc10a13700c71c7e7f0951416fe.png");
    background-size: cover;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
    padding-bottom: 150px;
}
.hook-title h1 {
    text-align: right;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 33px;
}
.section-title {
    font-size: 40px;
    font-family: Helvetica, Arial, sans-serif;
    color: var(--tertiary-color);
    padding-bottom: 200px;
    width: 15%;
    margin: 50px 50px 0 125px;
    padding-left: 10px;
    border-right: 3px solid;
}
.bio, .projects, .contact, .my-resume {
    color: var(--tertiary-color);
    border-right: 3px solid;
    width: 100%;
    justify-content: space-between;
}

.bio p, .contact-info, .resume-link {
    color: var(--tertiary-color);
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
}
.bio p {
    margin: 50px 50px 0 0;
    padding-right: 10px;
}
.contact-info {
justify-content: space-between;
}

.resume-link {

}

.flex-row {
    display: flex;
}
